<ul class="nav flex-column">
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">Ch01.</span>
         <a class="text-white" th:href="@{/}">프로젝트 생성 및 기본 설정</a>
      </h6>
   </li>
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">Ch02.</span>
         <a class="text-white" th:href="@{/thymeleaf/content}">템플릿 엔진(Thymeleaf)</a>
      </h6>
   </li>
    <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">Ch03.</span>
         <a class="text-white" th:href="@{/dao/content}">데이터베이스 연동(DAO)</a>
      </h6>
   </li>
    <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">Ch04.</span>
         <a class="text-white" th:href="@{/security/content}">Spring Security</a>
      </h6>
   </li>
</ul>