<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">

<div class="card m-2">
	<div class="card-header">Spring Security</div>
	<div class="card-body">
		<div>
			<div sec:authorize="isAnonymous()">
				<a href="joinForm" class="btn btn-info btn-sm">회원가입</a>
				<a href="loginForm" class="btn btn-info btn-sm">로그인</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/logout}" class="btn btn-info btn-sm">로그아웃</a>
				<hr>
				<div>User : [[${#authentication.name}]] </div>
				<div>Roles : [[${#authentication.authorities}]] </div>
				<div>Email : [[${#authentication.principal.useremail}]] </div>
				<hr>
				<div>
					<div sec:authorize="hasRole('ROLE_ADMIN')">ROLE_ADMIN만 볼 수 있는 내용</div>
					<div sec:authorize="hasRole('ROLE_MANAGER')">ROLE_MANAGER만 볼 수 있는 내용</div>
					<div sec:authorize="isAuthenticated()">ROLE_USER는 다 볼 수 있따</div>
				</div>
			</div>			
		</div>
		<hr>
		<div>
	         <a href="admin/action" class="btn btn-info btn-sm">Admin 액션</a>   
	         <a href="manager/action" class="btn btn-info btn-sm">Manager 액션</a>
	         <a href="user/action" class="btn btn-info btn-sm">User 액션</a>
      	</div>
	</div>
</div>

</th:block>
</th:block>
</html>