<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">	
	
<div class="card m-2">
	<div class="card-header">
		게시물 수정
	</div>
	<div class="card-body">
		<form id="boardUpdateForm" method="post" action="boardUpdate" enctype="multipart/form-data">
			<input type="hidden" name="bno" th:value="${board.bno}"/>
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">btitle</span></div>
				<input id="btitle" type="text" name="btitle" class="form-control" th:value="${board.btitle}">
				<span id="btitleError" class="error"></span>
			</div>
			
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">bcontent</span></div>
				<textarea id="bcontent" name="bcontent" class="form-control">[(${board.bcontent})]</textarea>
				<span id="bcontentError" class="error"></span>
			</div>
			
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">battach</span></div>
				<input id="battach" type="file" name="battach" class="form-control">
			</div>
				
			<div class="mt-3">
				<button class="btn btn-info btn-sm mr-2">수정하기</button>
				<a class="btn btn-info btn-sm" href="boardList">목록보기</a>
			</div>
		</form>
	</div>
</div>

</th:block>
</th:block>
</html>
