<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">

<div class="card m-2">
	<div class="card-header">Link URL Expressions</div>
	<div class="card-body">
		<a th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html}" class="btn btn-info btn-sm">Absolute</a>
		<a href="update" class="btn btn-info btn-sm">page-relative</a>
		<a href="@{/thymeleaf/update}" class="btn btn-info btn-sm">Context-relative(excluded contextpath)</a>
		<a href="@{~/thymeleaf/update}" class="btn btn-info btn-sm">Server-relative(included contextpath)</a>
		
		<hr>
		
		<!-- linkUrlExpressions/t1/detail?productId=xxx&pageNo=yyy -->
		<a th:href="@{/thymeleaf/linkUrlExpressions/t1/detail(productId=${productId}, pageNo=${pageNo})}" class="btn btn-info btn-sm">URL Parameters</a>
		<a th:href="@{/thymeleaf/linkUrlExpressions/{typeId}/detail(typeId=${typeId}, productId=${productId}, pageNo=${pageNo})}" class="btn btn-info btn-sm">Path Variables</a>
		<a th:href="@{${url1}(productId=${productId}, pageNo=${pageNo})}" class="btn btn-info btn-sm">URL Insert1</a>
		<a th:href="@{'/thymeleaf/linkUrlExpressions'+ ${url2}(productId=${productId}, pageNo=${pageNo})}" class="btn btn-info btn-sm">URL Insert2</a>
	</div>
</div>

</th:block>
</th:block>
</html>